.alert {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 100%;
  max-width: 400px;
  color: #fff !important;
  font-size: 1rem !important;
  border-radius: 6px;
  display: flex;
  align-items: center;
  z-index: 9999;
  box-sizing: border-box;


  &.error {
    background-color: rgba(250, 20, 20, 0.9) !important;
  }

  &.success {
    background-color: rgba(20, 200, 20, 0.9) !important;
  }
  
  & path {
    fill: #fff;
  }
}

@media screen and (max-width: 600px) {
  .alert {
    left: 1rem;
    right: 1rem;
    width: auto;
  }
}
